@font-face {
  font-family: 'YRDZST';
  src: url('/fonts/YRDZST.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shangshouhupoti';
  src: url('/fonts/shangshouhupoti.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'modist';
  src: url('/fonts/modist-d9zmv.ttf');
  font-weight: lighter;
  font-style: normal;
}