@font-face {
    font-family: 'YRDZST';
    src: url('/fonts/YRDZST.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'shangshouhupoti';
  src: url('/fonts/shangshouhupoti.TTF');
  font-weight: lighter;
  font-style: normal;
}